.movie-listing {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 90%;
  }
  
  .listing-card {   
    max-width:100%;
    overflow: hidden;
    margin: 15px;
    position: relative;
  }

  .listing-card:hover {   
    transition: transform 0.3s ease-in-out;
    transform: scale(1.08);
  }

  .listing-card-content {
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Initially hidden */
    position: absolute;
    height: auto;
    bottom: 0; /* Stick to the bottom */
    left: 0;
    width: 100%;
    background-color: #000000D9; /* Semi-transparent black */
    color: #fff;
    padding: 5px !important;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .listing-card:hover .listing-card-content {
    visibility: visible;
    opacity: 1;
  }

  .listing-image {
    width: 100%;
    min-height: 300px;
    object-fit: cover;
    aspect-ratio: 2/3;
  }

  .header-custom {
    padding-top: 20px;
    color: #fff;  
    padding-bottom: 50px;  
  }